@keyframes slideIn {
    from {
      transform: translateX(200vw);
      transition: 0.5s;
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-out;
  }

  @keyframes rotation {
      from {
        transform: rotate(0);
        
      }
      to {
        transition: 0.5s;
        transition-delay: 0,3s;
        transform: rotate(-30);
      }
    }
    
    .rot-car {
      animation: rotation 2s ease-out;
    }

 
    .active {
      transform: translateX(0);
      transition: transform 0.5s, opacity 0.5s;
      opacity: 1;
    }
    
    .inactive {
      transform: translateX(-100%);
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
    }

    /* src/styles.css */

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.slide-active {
  transform: translateX(0);
  opacity: 1;
}

.slide-next {
  transform: translateX(100%);
  opacity: 0;
}

.slide-prev {
  transform: translateX(-100%);
  opacity: 0;
}
